[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
pytest = "*"
pytest-xdist = "*"
pillow = "*"
pytest-json-report = "*"
numpy = "*"
charset-normalizer = "*"
requests = "*"
pytest-timeout = "*"

[dev-packages]

[requires]
python_version = "3.11"
