-i https://pypi.org/simple
colorama==0.4.6; sys_platform == 'win32'
execnet==2.1.1; python_version >= '3.8'
flake8==7.1.1; python_full_version >= '3.8.1'
iniconfig==2.0.0; python_version >= '3.7'
mccabe==0.7.0; python_version >= '3.6'
packaging==24.2; python_version >= '3.8'
pillow==11.0.0; python_version >= '3.9'
pluggy==1.5.0; python_version >= '3.8'
pycodestyle==2.12.1; python_version >= '3.8'
pyflakes==3.2.0; python_version >= '3.8'
pytest==8.3.4; python_version >= '3.8'
pytest-json-report==1.5.0
pytest-metadata==3.1.1; python_version >= '3.8'
pytest-xdist==3.6.1; python_version >= '3.8'
